@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure it stays on top */
  background-color: white;
  /* Optional: Make sure it's not transparent */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Add a shadow for better visibility */
  height: 80px;
  /* Adjust the height based on your design */
}